@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 強制時間輸入使用24小時制 */
input[type="time"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input[type="time"]::-webkit-datetime-edit-ampm-field {
  display: none !important;
}

input[type="time"]::-webkit-datetime-edit-hour-field {
  color: inherit;
}

input[type="time"]::-webkit-datetime-edit-minute-field {
  color: inherit;
}

/* 強制隱藏AM/PM選擇器 */
input[type="time"]::-webkit-datetime-edit-ampm-field,
input[type="time"]::-webkit-datetime-edit-meridiem-field {
  display: none !important;
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
}